@using Lcps.DivisionDirectory.Ldap;
@using Lcps.UI.Context;

@model PersonalFolder
@{
    ViewBag.Title = "Folder";
    Layout = "~/Areas/Directory/Views/Shared/_directoryLayout.cshtml";
    ContextManager cm = new ContextManager();
    PersonalFolder fldr = new PersonalFolder();

    string scopeStr = Request["scope"];
    long scope = string.IsNullOrWhiteSpace(scopeStr) ? 0L : Convert.ToInt64(scopeStr);

    string id = Request["id"];
    string statementMode = "Create";
    if (id != null)
    {
        fldr = cm.LdapContext.PersonalFolders.GetByID(new Guid(id));
        statementMode = "Update";
    }
    else
    {
        fldr.MembershipScope = scope;
    }
}


<script>

    function CreateGroup() {
        var total = 0;



        $('.cb-scope').each(
             function () {
                 var id = $(this).attr('id');
                 var val = parseInt(id.replace('cb-', ''));
                 var ckd = $(this).prop('checked');

                 if (ckd) {
                     total += val;
                 }
             }
         );


        var o = $('#pathTb').val();

        var gid = $('#folderId').val();

        var nf = $("#NameFormat").val();

        alert(o + '\n' + gid + '\n' + nf);

        $.ajax({
            type: 'GET',
            url: '/Ldap/PersonalFolders/Submit',
            data: { id: gid, p: o, s: total, nf: nf },
            success: function (data, success) {
                if (data.match('^<ul>')) {
                    $('#errMsg').html(data);
                    $('#errDiv').toggle('slow');
                }
                else {
                    var url = "/Ldap/PersonalFolders/Index";
                    window.location.href = url;
                }
            },
            error: function (data, error) {
                $('#errMsg').html(data);
                $('#errDiv').toggle('slow');
            }
        });


    }
</script>



<div class="body-content container">

    <div class="container">
        <h2>@statementMode Personal Folder Assignment</h2>

        <div id="errDiv" class="alert alert-danger alert-dismissible" role="alert" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="errMsg"></div>
        </div>

        <input type="hidden" id="folderId" value="@fldr.PersonalFolderKey" />

        <div class="form-inline" style="margin-bottom: 24px;">
            @Html.LabelFor(model => model.FolderPath, new { @class = "control-label" })
            <input id="pathTb" value="@fldr.FolderPath" type="text" class="form-control" style="width: 380px;" />
            @Html.LabelFor(model => model.NameFormat, new { @class = "control-label" }) @Html.Partial("_PersonalFolderNameFormatDDL", fldr)
            <button type="button" class="btn btn-success" onclick="CreateGroup();"><i class="fa fa-plus"></i> @statementMode</button>
        </div>
    </div>

    @Html.Partial("~/Areas/Directory/Views/Scopes/_membershipScopeEditor.cshtml", fldr.MembershipScope)
</div>