
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("LCPS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Directory", "Index", "Directory", new { area = "Public" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="navbar-collapse collapse" style="border-bottom: solid 1pt #eeeeee;">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Members", "index", "Members", new { area = "Directory" }, null)</li>
            <li>@Html.ActionLink("Scopes", "Index", "Scopes", new { area = "Directory" }, null)</li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    NW Users
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("All NWUsers", "Index", "NwUsers", new { area = "Directory" }, null)</li>
                    <li>@Html.ActionLink("NW Staff", "NwStaff", "NwUsers", new { area = "Directory" }, null)</li>
                    <li>@Html.ActionLink("NW Students", "NwStudent", "NwUsers", new { area = "Directory" }, null)</li>
                    <li>@Html.ActionLink("New Students", "StudentsNoAsp", "NwUsers", new { area = "Directory" }, null)</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Staff
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Personnel", "Index", "Personnel", new { area = "Directory" }, null)</li>
                    <li>@Html.ActionLink("New Staff", "StaffCandidates", "Members", new { area = "Directory" }, null)</li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Ldap
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Domain", "Index", "Config", new { area = "Ldap" }, null)</li>
                    <li>@Html.ActionLink("OU Assignments", "Index", "OUAssignments", new { area = "Ldap" }, null)</li>
                    <li>@Html.ActionLink("Group Assignments", "Index", "Groups", new { area = "Ldap" }, null)</li>
                    <li>@Html.ActionLink("Personal Folders", "Index", "PersonalFolders", new { area = "Ldap" }, null)</li>
                    <li>@Html.ActionLink("Directory Members", "memberList", "UserSync", new { area = "Ldap" }, null)</li>
                    <li class="divider"></li>
                    <li>@Html.ActionLink("New Staff LDAP Accounts", "GetNewLdap", "Members", new { area = "Directory" }, null)</li>

                </ul>
            </li>
        </ul>
    </div>

    @RenderBody()


    <div class="body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


</body>
</html>


